<!-- <title>MonFouineur</title>
<meta name="description" content="Trouvez, achetez les articles vus dans les séries TV"> -->

<!-- Facebook Open Graph data -->
<!-- <meta property="og:title" content="MonFouineur" />
<meta property="og:type" content="website" />
<meta property="og:url" content="www.monfouineur.fr" />
<meta property="og:image" content="<%= image_tag 'meta_fbk.png'%>" />
<meta property="og:description" content="Monfouineur | Trouvez, achetez les articles vus dans les séries TV" /> -->
<!-- <meta property="og:site_name" content="<%= meta_title %>" /> -->
<!-- Facebook Open Graph data -->
<title><%= meta_title %></title>
<meta name="description" content="<%= meta_description %>">

<!-- Facebook Open Graph data -->
<meta property="og:title" content="<%= meta_title %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:image" content="<%= meta_image %>" />
<meta property="og:description" content="<%= meta_description %>" />
<meta property="og:site_name" content="<%= meta_title %>" />
