<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MonFouineur, trouvez et achetez les articles vus dans les séries TV</title>
    <meta name="description" content="Mon fouineur est un assistant personnel qui vous aide à trouver facilement les articles qui vous plaisent dans les séries TV et qui s'adapte à votre budget."/>

    <!-- <meta property="og:title" content="MonFouineur, trouvez et achetez les articles vus dans les séries TV" /> -->
    <!-- <meta property="og:type" content="website" /> -->
    <meta property="og:url" content="www.monfouineur.fr" />
    <meta property="og:image" content="<%= meta_image %>"/>
    <meta property="og:description" content="MonFouineur est un assistant personnel qui vous aide à trouver facilement les articles qui vous plaisent dans les séries TV et qui s'adapte à votre budget." />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= render "shared/analytics" %>
    <%= render "shared/facebookpixel" %>
     <%= yield(:after_js) %>
  </body>
</html>
